.review--input {
  border: 1px solid #a6a6a6;
  padding: 3px 10px;
  height: 40px;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  color: white;

  &:focus {
    border-color: rgb(209, 107, 0);
    box-shadow: rgba(180, 96, 13, 0.5) 0px 0px 3px 2px;
  }

  &::placeholder {
    font-size: 14px;
  }
}

.review-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.textarea--input {
  min-height: calc(100vh - 500px);
  resize: vertical;
  transition: all 0.1s linear;
  padding: 10px;
  line-height: 19px;
  outline: 0;
  overflow: auto;
  vertical-align: top;
}

.textarea__wrapper {
  margin-bottom: 20px;
}
