.filteritem{
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
    };
    &__name{
        padding-left: 40px;
        font-size:$small;
    };
    &__checkbox{
        padding-right:40px;
    }
}