.filter-page__container {
  display: flex;
  color: $white;
}

.filter-page__left {
  width: calc(125vw / 6);
  min-width: 200px;
}

.filter-page__right {
  margin-left: calc(25vw / 9);
  margin-right: calc(25vw / 6);
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.filter__result__container {
  .jawBoneContainer .jawBone {
    padding: 18px 0 12px 0;
  }

  .jawbone-title-link,
  .jawBoneContainer .jawBoneCommon .meta,
  .supplemental-message,
  .watched,
  .jawBonePane .synopsiss,
  .jawBonePane .overview .jawbone-actions,
  .jawBonePane .overview .meta-lists,
  .jawBonePane .single-season-label,
  .episodeWrapper {
    padding-left: 4%;
  }

  .nfDropDown,
  .slider .sliderMask .sliderContent {
    padding-left: 4%;
  }
}

.result__line {
  border: 1px solid $white;
  margin: 0;
  margin-top: 6px;
}

.filter__result__container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: -15px;
}

.filter__slider__item {
  width: 25%;
  display: inline-block;
}

@media (max-width: $ipad-screen) {
  .filter-page__right {
    margin-left: calc(25vw / 9);
  }

  .filter__slider__item {
    width: 33%;
    display: inline-block;
  }
}

@media (max-width: $phone-screen) {
  .filter__slider__item {
    width: 50%;
    display: inline-block;
  }
}

@media (min-width: $normal-screen) {
  .filter-page__right {
    margin-right: 60px;
  }
}

@media (max-width: 1100px) {
  .filter-page__left {
    display: none;
  }
}
