.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  background-color: $dark;
  padding: 30px calc(25vw / 18);
}

@media (min-width: $normal-screen) {
  .content {
    padding: 30px 20px;
  }
}
