.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #141414;
  background-repeat: no-repeat;
}

.content {
  flex-grow: 1;
  background-color: $dark;
  padding: 30px calc(25vw / 18);
  padding-top: 100px;
}

@media (min-width: $normal-screen) {
  .content {
    padding: 30px 20px;
    padding-top: 100px;
  }
}
