@import "./display";
@import "./text";
@import "./spacing";

@font-face {
  font-family: "Netflix Sans";
  /* stylelint-disable-line declaration-property-value-blacklist */
  font-weight: normal;
  font-display: optional;
  src: url("https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2")
      format("woff2"),
    url("https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff")
      format("woff");
}
@font-face {
  font-family: "Netflix Sans";
  /* stylelint-disable-line declaration-property-value-blacklist */
  font-weight: bold;
  font-display: optional;
  src: url("https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2")
      format("woff2"),
    url("https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff")
      format("woff");
}
@font-face {
  font-family: "Netflix Sans";
  /* stylelint-disable-line declaration-property-value-blacklist */
  font-weight: 800;
  font-display: optional;
  src: url("https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2")
      format("woff2"),
    url("https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff")
      format("woff");
}
@font-face {
  font-family: "Netflix Sans";
  /* stylelint-disable-line declaration-property-value-blacklist */
  font-weight: 900;
  font-display: optional;
  src: url("https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2")
      format("woff2"),
    url("https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff")
      format("woff");
}

body {
  margin: 0;
  font-family: "Netflix Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  color: $white;
  background-color: #141414;
}

input:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

a {
  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

[class*=" icon-"] {
  font-family: "nf-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transform: translateZ(0);
}

.cursor {
  cursor: pointer;
}

.loading--wrapper {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba($color: #000000, $alpha: 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s, z-index 0.5s;
  transition-timing-function: ease-out;

  &.overlay {
    opacity: 1;
    z-index: 10000;
  }
}

.no-scroll {
  overflow: hidden;
}
