.mvRow {
  position: relative;
  z-index: 1;

  .rowHeader {
    line-height: 1.3;
    margin: 0;
  }
}

.mvRow.mvRow_title_card {
  margin: 3vw 0;
  padding: 0;
  box-sizing: border-box;

  .rowTitle {
    font-size: 1.4vw;
    color: #e5e5e5;
    font-weight: bold;
    margin: 0 4% 0.5em 4%;
    text-decoration: none;
    display: inline-block;
    min-width: 6em;

    .row-header-title {
      display: table-cell;
      vertical-align: bottom;
      line-height: 1.25vw;
      font-size: 1.4vw;
    }
  }
}

.mvRow,
.rowContainer {
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.rowContainer {
  position: relative;
  z-index: 0;
}

.rowContainer .rowContent {
  padding: 0;
  box-sizing: border-box;

  .slide {
    z-index: 2;
  }
}

.slide {
  position: relative;
  margin: 0;
  padding: 0 4%;
  touch-action: pan-y;

  .handle {
    background: rgba(20, 20, 20, 0.5);

    &.handlePrev {
      left: 0;
    }

    &.active {
      cursor: pointer;
    }
  }
}

.carousel-indicators {
  top: -30px;
  z-index: 0;
  opacity: 0;
}

.slider-hover-trigger-layer:hover .carousel-indicators {
  opacity: 1;
}

.carousel-control-next,
.carousel-control-prev {
  width: 30px;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 4%;
  text-align: center;
  justify-content: center;
  display: flex;
  color: #fff;
}

.rowTitle .aro-row-header {
  display: table-cell;
  vertical-align: bottom;
}

.rowTitle .aro-row-header .see-all-link {
  display: inline-block;
  font-size: 0.9vw;
  margin-right: 4px;
  max-width: 0;
  line-height: 0.8vw;
  transition: max-width 1s, opacity 1s, transform 750ms, -webkit-transform 750ms,
    -moz-transform 750ms, -o-transform 750ms;
  white-space: nowrap;
  vertical-align: bottom;
  cursor: pointer;
  opacity: 0;
}

.rowTitle .aro-row-chevron {
  display: none;
  transition: transform 750ms, -webkit-transform 750ms, -moz-transform 750ms,
    -o-transform 750ms;
  font-size: 0.9vw;
  vertical-align: bottom;
}

.icon-akiraCaretRight:before {
  content: "\e658";
}

a.rowTitle:hover .aro-row-header .aro-row-chevron,
a.rowTitle:focus .aro-row-header .aro-row-chevron {
  transform: translate(1vw, 0);
  font-size: 0.65vw;
  line-height: 0.8vw;
}

a.rowTitle:hover .aro-row-header .see-all-link,
a.rowTitle:focus .aro-row-header .see-all-link {
  max-width: 200px;
  transform: translate(1vw, 0);
  opacity: 1;
}

.show-chevron {
  display: inline-block !important;
  font-size: 0.9vw !important;
  vertical-align: bottom !important;
}

.slide .carousel-inner .carousel-item .slider-item:hover {
  z-index: 2;
}

.slide .handle.handlePrev .indicator-icon {
  transform-origin: 55% 50%;
}

.slide .handle.handleNext .indicator-icon {
  transform-origin: 45% 50%;
}

.slide .handle.handleNext {
  right: 0;
}

.slider-hover-trigger-layer:hover .slide .handle.active:hover .indicator-icon {
  font-weight: bold;
  transform: scale(1.25);
  color: #fff;
}

.slider-hover-trigger-layer:hover .slide .handle.active:focus .indicator-icon {
  display: block;
  font-weight: bold;
  transform: scale(1.25);
  color: #fff;
}

.slider-hover-trigger-layer:hover .slide .handle.active .indicator-icon {
  display: block;
}

.slide .handle > .indicator-icon {
  display: none;
  height: auto;
  align-self: center;
  font-size: 2.5vw;
  transition: transform 100ms ease-out 0s;
}

.icon-leftCaret:before {
  content: "\e868";
}

.icon-rightCaret:before {
  content: "\e867";
}

.mvRow .pagination-indicator {
  margin: -24px 0 12px 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
  right: 4%;
  display: none;

  li {
    display: inline-block;
    width: 12px;
    height: 2px;
    background-color: #4d4d4d;
    margin-left: 1px;
  }

  .active {
    background-color: #aaa;
  }
}

.mvRow .slider:hover .pagination-indicator {
  display: block;
}

.carousel-inner {
  overflow-x: visible;
  padding-bottom: 1px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: unset;
}

.slide .carousel-inner.showPeek {
  overflow-x: visible;
}

.slide .carousel-inner .carousel-item {
  white-space: nowrap;
}

.slide .carousel-inner .carousel-item .slider-item {
  box-sizing: border-box;
  z-index: 1;
  display: inline-block;
  position: relative;
  white-space: normal;
  vertical-align: top;
  padding: 0 2px;
}

.title-card:not(.loadingTitle) {
  display: block;
}

.title-card {
  position: relative;
  z-index: 1;

  &:focus {
    outline: none;
  }
}

.rowContainer .rowContent .slider:hover .handle.active:hover {
  background: rgba(20, 20, 20, 0.7);
}

.rowContainer .rowContent .slide .handle {
  background: rgba(20, 20, 20, 0.5);
}

.verticalBoxArtRow .is-bob-open.title-card {
  width: 250%;
  transform: translate(-30%, 0);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.boxart-size-vertical {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding: 70.255061% 0;
}

.verticalBoxArtRow .is-bob-open.title-card .boxart-size-vertical {
  padding: 28.125% 0;
  opacity: 0;
}

.boxart-image-in-padded-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.fallback-text-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-color: #222;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
}

.fallback-text {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 8%;
  right: 8%;
  margin: 0;
  padding: 0 0 10%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bob-card {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  background-color: #141414;
  color: white;
}

.verticalBoxArtRow .title-card .bob-card {
  background: rgba(0, 0, 0, 0);
}

.verticalBoxArtRow .is-bob-open.title-card .bob-card .bob-background {
  animation: verticalExpand 250ms cubic-bezier(0.5, 0, 0.1, 1) forwards;
}

.verticalBoxArtRow .title-card .bob-card .bob-title-art-container img {
  transform: scale(1, 1);
  animation: fadeIn 250ms forwards;
}

@keyframes verticalExpand {
  0% {
    left: 30%;
    right: 30%;
  }
  100% {
    left: 0;
    right: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bob-card-adult-video-merch .bob-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.verticalBoxArtRow .title-card .bob-card .bob-background .image-container {
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-color: #000;
}

.verticalBoxArtRow .is-bob-open.title-card .bob-card .bob-overlay {
  animation: fadeIn 250ms 250ms forwards;
}

.verticalBoxArtRow .title-card .bob-card .bob-overlay {
  opacity: 0;
}

.bob-card-adult-video-merch .bob-overlay {
  position: absolute;
  top: 0;
  left: -2px;
  right: -2px;
  bottom: -2px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  border: solid 2px #141414;
  padding: 0 2% 2% 2.5%;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 33%,
    rgba(0, 0, 0, 0.85) 100%
  );
  transition: 200ms linear;
  cursor: pointer;
  z-index: 0;
}

.bob-card-adult-video-merch .bob-play-hitzone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80%;
}

.verticalBoxArtRow .title-card .bob-card .bob-overlay .bob-overview-wrapper {
  pointer-events: none;
}

.bob-card-adult-video-merch .bob-overview-wrapper {
  flex: 0 1 90%;
  max-width: 88%;
}

.no-indicator {
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
}

.bob-overview {
  text-align: center;
  pointer-events: none;
}

.bob-overview .bob-play-button {
  width: 3vw;
  height: 3vw;
  position: relative;
  display: inline-block;
  transform: translateX(50%);
  margin-bottom: 3%;
}

.bob-card-adult-video-merch
  .bob-play-hitzone:hover
  ~ .bob-overview-wrapper
  .svg-icon-play-with-ring {
  color: #e50914;
}

.bob-overview .bob-play-button .play-button {
  width: 2vw;
  padding-bottom: 2vw;
  opacity: 1;
  transition: all 150ms ease;
}

.bob-overview .bob-title {
  line-height: 1.4;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // margin-bottom: 0.3em;
  font-size: 1vw;
  text-align: left;
}

.bob-card-adult-video-merch .bob-actions-wrapper {
  flex: 0 0 10%;
}

.ActionButtons {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 1.35rem;
}

.thumbs-component.animated.thumbs-vertical {
  display: block;
}

.thumbs-component.thumbs-vertical.animated {
  transition: margin-top 550ms cubic-bezier(0.86, 0, 0.07, 1) 400ms;
}

.thumbs-component.thumbs-vertical {
  flex-direction: column;
}

.thumbs-component {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.thumbs-component.animated.thumbs-vertical.unrated .thumb-up-container {
  transform: translate(0, 0);
  transition: opacity 150ms linear 650ms;
  transition: transform 550ms cubic-bezier(0.86, 0, 0.07, 1) 400ms,
    opacity 150ms linear 650ms;
  transition: transform 550ms cubic-bezier(0.86, 0, 0.07, 1) 400ms,
    opacity 150ms linear 650ms;
}

.thumbs-component.animated.unrated .thumb-container {
  opacity: 1;
  transition: opacity 150ms linear 650ms;
}

.thumbs-component .thumb-container {
  display: flex;
  cursor: pointer;
  color: white;
  position: relative;
  pointer-events: auto;
}

.nf-svg-button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
}

.thumbs-component.animated.thumbs-vertical.unrated .thumb-up-container {
  transform: translate(0, 0);
  transition: transform 550ms cubic-bezier(0.86, 0, 0.07, 1) 400ms,
    opacity 150ms linear 650ms;
}

.thumbs-component.animated.unrated .thumb-container {
  opacity: 1;
  transition: opacity 150ms linear 650ms;
}

.nf-svg-button-wrapper .nf-svg-button.simpleround {
  border: 0.1em solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 0.3em;
  margin: 0.25em;
  background: rgba(0, 0, 0, 0.5);
}

.nf-svg-button-wrapper .nf-svg-button {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 350ms cubic-bezier(0.86, 0, 0.07, 1);
}

.thumbs-component .nf-svg-button svg {
  width: 1rem;
  height: 1rem;
}

.nf-svg-button-wrapper .nf-svg-button svg {
  color: #fff;
  fill: #fff;
  width: 1rem;
  height: 1rem;
}

.bob-card-adult-video-merch .bob-overlay.bob-overlay-hidden a {
  cursor: none;
}

svg:not(:root) {
  overflow: hidden;
}

.svg-icon {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.nf-svg-button-wrapper .nf-svg-button-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  margin-top: 6px;
  left: 50%;
  background: #fff;
  color: #000;
  width: 8.5vw;
  font-size: 0.9vw;
  font-weight: 700;
  padding: 2px 0 2px;
  text-align: center;
  transform: translateX(-50%);
}

.nf-svg-button-wrapper:hover .nf-svg-button-tooltip,
.nf-svg-button-wrapper.hovered .nf-svg-button-tooltip {
  display: block;
}

.bob-overview .bob-metadata-wrapper {
  // margin-bottom: 0.2em;
}

.video-meta--bob-overview {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 0.8vw;
}

.video-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.video-meta > span,
.video-meta > svg {
  margin-right: 0.5em;
  // margin-bottom: 0.3vw;
}

.match-score-wrapper .show-match-score .match-score {
  max-width: 300px;
  opacity: 1;
  transition: max-width 550ms cubic-bezier(0.86, 0, 0.07, 1) 1650ms,
    opacity 150ms linear 2200ms;
}

.match-score-wrapper .match-score {
  font-weight: bold;
  color: #46d369;
  display: inline-block;
  white-space: nowrap;
}

.maturity-rating {
  display: inline-block;
}

.video-meta > span,
.video-meta > svg {
  margin-right: 0.5em;
  // margin-bottom: 0.3vw;
}

.maturity-rating .maturity-number {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border: solid 1px rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  unicode-bidi: normal /*!rtl:plaintext*/;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.evidence-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  margin: 0;
  padding: 0;
}

.evidence-list .evidence-item {
  display: flex;
  padding-right: 0.5vw;
}

.evidence-text {
  color: white;
  line-height: 1.3;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 0.8vw;
}

.evidence-list .evidence-separator {
  display: inline-block;
}

.evidence-list .evidence-separator::before {
  color: #646464;
  content: "\2022";
  display: inline-block;
  padding-right: 0.5vw;
  font-size: 1vw;
}

.bob-card-adult-video-merch .bob-chevron-wrapper {
  pointer-events: none;
  padding: 0.5vw 0 0 0;
  flex: 0 0 100%;
  z-index: 1000;
}

.bob-jawbone-chevron {
  animation-delay: 200ms;
  animation-name: chevronSlideDown;
  animation-duration: 400ms;
  text-align: center;
}

.bob-jawbone-chevron svg {
  width: 3vw;
  height: 1vw;
}

.bob-card-adult-video-merch .bob-jaw-hitzone {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
}

.bob-card-adult-video-merch .bob-overlay.bob-overlay-hidden a {
  cursor: none;
}

.bob-card-adult-video-merch .bob-jaw-hitzone:hover ~ .bob-chevron-wrapper {
  color: #e50914;
  stroke: #e50914;
  stroke-width: 2px;
  stroke-linejoin: miter;
}

span:focus {
  outline: none;
}

.title-card .title-card-jawbone-focus {
  opacity: 0;
}

.title-card .title-card-focus-ring {
  border: solid 4px $primary;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@keyframes chevronSlideDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title-card .title-card-play {
  display: none;
  top: 50%;
  left: 50%;
  font-size: 4.3vw;
  height: 4.73vw;
  width: 4.73vw;
  margin-left: -2.2575vw;
  margin-top: -2.2575vw;
  border-radius: 50%;
  color: #fff;
  opacity: 0.7;
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
  outline: none;
  transition: all 150ms ease;
}

.title-card .title-card-play:hover,
.title-card .title-card-play:focus {
  text-decoration: none;
  opacity: 1;
  transform: scale(1.08, 1.08);
}

.title-card .title-card-play:hover .playRing,
.title-card .title-card-play:focus .playRing {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

.title-card .title-card-play:hover .play,
.title-card .title-card-play:focus .play {
  color: #e50914;
}

.title-card .title-card-play .annotation {
  text-align: center;
  position: absolute;
  width: 200%;
  font-size: 18%;
  left: -50%;
  white-space: nowrap;
  bottom: -1.204vw;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

.title-card .title-card-play .playRing {
  height: 4.3vw;
  width: 4.3vw;
  border: 0.215vw solid #fff;
  border-radius: 50%;
  position: absolute;
}

.title-card .title-card-play .playRing:after {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  height: 100%;
  width: 100%;
}

.title-card .title-card-play .play {
  line-height: 4.3vw;
  width: 100%;
  color: #fff;
  font-size: 46%;
  left: 6% /*!rtl:ignore*/;
  text-align: center;
  position: absolute;

  &::before {
    content: "\e646";
  }
}

.title-card-jawbone-focus:hover .title-card-play {
  display: block;
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.title-card-container .click-to-change-JAW-indicator {
  position: absolute;
  left: 50%;
  bottom: 0.4vw;
  z-index: 1;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s,
    -moz-transform 0.4s, -o-transform 0.4s;
  transition-delay: 0.2s;
  opacity: 0;
  transform: translate(-50%, -10px);
}

.title-card-container:hover .click-to-change-JAW-indicator.is-another-JAW-open {
  opacity: 1;
  transform: translate(-50%, 0);
}

.watched-title--bob-overview {
  margin-bottom: 0.6em;
  font-size: 0.9vw;
  text-align: left;
}

.watched-title--no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.progress {
  display: flex;
  align-items: center;
  height: auto;
  overflow: hidden;
  border-radius: 0;
  background-color: transparent;
}

.is-bob-open .progress {
  display: none;
}

.title-card-container > .progress {
  padding: 3% 20% 0;
  position: absolute;
  left: 0;
  right: 0;
  transition: opacity 350ms;
}

.title-card-container > .progress .progress-bar,
.title-card-container > .progress .progress-completed {
  height: 3px;
}

.progress--bob-overview {
  padding: 0 0 0.45em 0;
  font-size: 0.8vw;
}

.progress-bar {
  display: block;
  position: relative;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  flex-grow: 1;
}

.progress-completed {
  position: absolute;
  top: 0;
  left: 0 /*rtl:ignore*/;
  height: 2px;
  background-color: #e50914;
}

.progress .summary {
  margin: 0 0 0 8px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 499px) {
  .rowContainer.verticalBoxArtRow .rowContent .slide .slider-item {
    width: 25%;
  }
  .bob-overview .bob-title {
    font-size: 2.5vw;
  }
  .video-meta--bob-overview {
    font-size: 2vw;
  }
  .evidence-text {
    font-size: 2vw;
  }
  .evidence-list .evidence-separator::before {
    font-size: 2.5vw;
  }
  .watched-title--bob-overview {
    font-size: 2.25vw;
  }
  .progress--bob-overview {
    font-size: 1.6vw;
  }
}
@media screen and (min-width: 500px) and (max-width: 799px) {
  .rowContainer.verticalBoxArtRow .rowContent .slide .slider-item {
    width: 25%;
  }
  .evidence-text {
    font-size: 1.6vw;
  }
  .evidence-list .evidence-separator::before {
    font-size: 2vw;
  }
  .bob-overview .bob-title {
    font-size: 2vw;
  }
  .video-meta--bob-overview {
    font-size: 1.6vw;
  }
  .watched-title--bob-overview {
    font-size: 1.8vw;
  }
  .progress--bob-overview {
    font-size: 1.44vw;
  }
}
@media screen and (min-width: 800px) and (max-width: 1099px) {
  .rowContainer.verticalBoxArtRow .rowContent .slide .slider-item {
    width: calc(100% / 6);
  }
  .bob-overview .bob-play-button .play-button {
    width: 2.4vw;
    padding-bottom: 2.4vw;
    opacity: 1;
    transition: all 150ms ease;
  }
  .evidence-text {
    font-size: 1.28vw;
  }
  .evidence-list .evidence-separator::before {
    font-size: 1.6vw;
  }
  .bob-overview .bob-title {
    font-size: 1.6vw;
  }
  .video-meta--bob-overview {
    font-size: 1.28vw;
  }
  .watched-title--bob-overview {
    font-size: 1.44vw;
  }
  .progress--bob-overview {
    font-size: 1.28vw;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1440px) {
  .rowContainer.verticalBoxArtRow .rowContent .slide .slider-item {
    width: 12.5%;
  }
  .bob-overview .bob-play-button .play-button {
    width: 2vw;
    padding-bottom: 2vw;
    opacity: 1;
    transition: all 150ms ease;
  }
  .evidence-text {
    font-size: 1.12vw;
  }
  .evidence-list .evidence-separator::before {
    font-size: 1.4vw;
  }
  .bob-overview .bob-title {
    font-size: 1.4vw;
  }
  .video-meta--bob-overview {
    font-size: 1.08vw;
  }
  .watched-title--bob-overview {
    font-size: 1.26vw;
  }
  .progress--bob-overview {
    font-size: 1vw;
  }
}
@media screen and (min-width: 1441px) {
  .slide .handle > .indicator-icon {
    font-size: 2em;
  }
  .video-meta--bob-overview {
    font-size: 0.96vw;
  }
  .bob-overview .bob-title {
    font-size: 1.2vw;
  }
  .rowContainer.verticalBoxArtRow .rowContent .slide .slider-item {
    width: calc(100% / 9);
  }
  .bob-overview .bob-play-button .play-button {
    width: 1.8vw;
    padding-bottom: 1.8vw;
    opacity: 1;
    transition: all 150ms ease;
  }
  .evidence-list .evidence-separator::before {
    font-size: 1.2vw;
  }
  .watched-title--bob-overview {
    font-size: 1.08vw;
  }
  .progress--bob-overview {
    font-size: 0.96vw;
  }
}

@media screen and (min-width: 1500px) {
  .carousel-control-next,
  .carousel-control-prev {
    width: 60px;
  }
}

@media screen and (max-width: 1399px) {
  .slide .handle > .indicator-icon {
    display: block;
  }
}
