.jawBoneContainer .jawBoneDetails .detailsItem {
  box-sizing: border-box;
  padding: 0 20px 0 0;
  height: auto;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 20%;
}

.jawBoneContainer .jawBoneDetails li.listLabel:first-child {
  margin-top: 0;
}

.jawBoneContainer .jawBoneDetails li.listLabel {
  margin-top: 14px;
}

.jawBoneContainer .jawBoneDetails .listLabel {
  font-size: 15px;
  margin: 0 0 5px;
  display: block;
  color: #808080;
  font-weight: bold;
}

.jawBoneContainer .jawBoneDetails ul li {
  list-style: none;
}

.jawBoneContainer .jawBoneDetails a,
.jawBoneContainer .jawBoneDetails .memberReview .readMoreLink,
.jawBoneContainer .jawBoneDetails .memberReviews .seeAllLink {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.jawBoneContainer .jawBoneDetails ul {
  padding-left: 0;
  margin: 0 0 14px 0;
}

.cast-wrapper {
  overflow: hidden;
  display: inline-block;
  white-space: normal;
  width: 80%;
}

.cast-container {
  width: 100%;
  height: 23vw;

  .slide {
    height: 100%;

    .carousel-inner {
      height: 100%;

      .carousel-item {
        height: 100%;
      }
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    height: 75%;
  }
}

.cast {
  width: 20%;
  display: inline-block;
  height: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}

.background-image {
  width: 100%;
  background-size: cover;
  height: 75%;
}

.cast-name {
  color: white;
  font-weight: bold;
}

.character {
  color: #808080;
  font-size: 1vw;
}

@media screen and (min-width: 1100px) and (max-width: 1399px) {
  .jawBoneContainer .jawBoneDetails .detailsItem {
    width: 20%;
  }
  .cast-wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .jawBoneContainer .jawBoneDetails .detailsItem {
    width: 16.66666667%;
  }
  .cast-wrapper {
    width: calc(500% / 6);
  }
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
  .cast {
    width: 25%;
  }
}
@media screen and (max-width: 799px) and (min-width: 500px) {
  .cast {
    width: 50%;
  }
  .detail__container {
    height: 46vw !important;
  }
}
@media screen and (max-width: 499px) {
  .cast {
    width: 50%;
  }
  .detail__container {
    height: 60vw !important;
  }
}
