.page--title {
  position: absolute;
  left: 0;
  right: 0;
  height: 68px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
}

.title {
  margin-right: 20px;
  line-height: 36px;
  font-size: 35px;
}

.page-container {
  flex: 1;
}
