.page--title {
  position: relative;
  height: 4rem;
  display: flex;
  align-items: center;
  margin-left: 4%;
}

.title {
  margin-right: 20px;
  line-height: 36px;
  font-size: 35px;
}

.page-container .slider {
  padding: 0 4% !important;
}
