.page-container {
  padding: 0 4%;
}

.page--title {
  position: relative;
  height: 4rem;
  display: flex;
  align-items: center;
}

.title {
  margin-right: 20px;
  line-height: 36px;
  font-size: 35px;
}
