.avatar__wrapper {
  @include set-width-height(32px, 32px);

  img {
    width: 100%;
    display: block;
  }
}

.d-flex {
  cursor: pointer;
  align-items: center;
}

@media (max-width: $ipad-screen) {
  .avatar__wrapper {
    @include set-width-height(16px, 16px);
  }
}
