.search {
  &__container {
    height: 100%;
    width: 100%;
    background-color: rgba($grey, 0.18);
    box-shadow: 3px 3px 6px 0 rgba($black, 0.07);
    border-radius: 5px;
    display: flex;
  }

  &__button {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 10%;
    max-width: 100px;
    min-width: 48px;
    height: 100%;
    cursor: pointer;
    padding: 0;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: $white;
    font-size: $small;
    padding: 0;
    padding-right: 30px;

    &::placeholder {
      color: rgba($color: $white, $alpha: 0.7);
    }
  }
}
