.navbar__navigator__item {
  @include navigator;
}

.navbar__sub-navigator__item {
  cursor: pointer;
  line-height: 24px;
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $grey;
}

.menu__item {
  font-size: $small;
  @include align-center;
}

.sub-menu__item {
  @include set-width-height(220px, 50px);
  @include align-center;
  justify-content: center;
  color: $grey1;
  transition: background-color 400ms;

  &:hover {
    background-color: rgba($color: $white, $alpha: 0.05);
  }
}

.active {
  color: $white;
  font-weight: bold;
}

.filter__item__sub {
  position: absolute;
  left: 221px;
  top: 0;
  background-color: $black1;
  padding: 15px;
  height: 120px;
  display: flex;
}

.sub-item__column {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

@media (min-width: $normal-screen) {
  .menu__item {
    font-size: $small;
  }
}

@media (max-width: $ipad-screen) {
  .navbar__navigator__item {
    display: none;
  }
}
