.header {
  height: 70px;
  background-color: #141414;
  width: 100%;
}

.jawBoneContainer .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transition: opacity 0.3s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.background-blur {
  background-color: rgba($color: #141414, $alpha: 0.8);
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
}

.background-poster {
  z-index: 2;
  opacity: 1;
  transition-duration: 750ms;
  width: 100%;
  background-size: contain;
  height: 100%;
  background-repeat: no-repeat;
}

.title-block {
  padding: 20px 0 14px 0;

  &:before {
    content: " ";
    display: table;
  }
}

.title-block .title-bar-wrapper .title-bar {
  position: relative;
  padding: 0 20px;
}

.primary-ribbon {
  position: absolute;
  height: 58px;
  width: 40px;
  padding-right: 5px;
}

.wl-ribbon {
  background: url("https://m.media-amazon.com/images/G/01/imdb/images/title/title_overview_sprite-1705639977._V_.png")
    no-repeat;
  width: 40px;
  height: 58px;
  cursor: pointer;
}

.not-inWL {
  background-position: -8px -62px;
  &:hover {
    opacity: 0.6;
  }
}

.inWL {
  background-position: -8px -4px;
  &:hover {
    opacity: 0.6;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: -60px 0;
}

.medium-icon {
  height: 20px;
  width: 20px;
  display: inherit;
  margin-right: 0.71em;
}

.ribbon-dropdown {
  background: #f6f1e3;
  position: absolute;
  min-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 2;

  .drop-item {
    border-top: 1px solid #ccc;
    display: table;
    width: 100%;

    a {
      cursor: pointer;
      display: table-cell;
      font-size: $small;
      color: rgb(233, 231, 228);
      background: #2b2b2b;
      height: 40px;
      position: relative;

      &:hover {
        background-color: rgb(18, 104, 171);
      }
    }
  }

  .drop-item-text {
    padding: 0 20px;
    position: absolute;
    top: 20px;
    transform: translateY(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
  }
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title-wrapper {
  min-height: 58px;
  margin-left: 52px;

  h1 {
    font-size: $huge !important;
    font-weight: normal;
    line-height: 110%;
    margin: 0px;
    color: #fff;
    padding-bottom: 3px !important;
  }

  #titleYear {
    color: silver;
    font-size: $x-large;
    line-height: 100%;
  }

  .originalTitle {
    color: rgba($white, 0.8);
    // font-size: 13px;
    line-height: 120%;
    position: relative;
    padding-bottom: 2px;

    .description {
      font-style: italic;
      white-space: nowrap;
    }
  }

  .ghost {
    margin: 0 0.5em;
    color: #6b6b6b;
  }

  .video-meta {
    font-size: 1.3rem;
  }
}

.jawBoneContainer .jawBoneBackground {
  right: 4%;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 68%;
}

.image-rotator {
  position: relative;
  overflow: hidden;
}

.overview {
  padding: 18px 20px;

  .credit-summary-item {
    padding-bottom: 5px;

    h4.inline {
      display: inline;
      padding: 0 0.5em 0 0;
      font-size: $small;
    }

    a {
      white-space: nowrap;
    }
  }
}

.summary-text {
  padding-bottom: 16px;
  line-height: 18px;
  font-size: $small;
  text-align: justify;
  width: 92%;
  color: $grey2;
}

.details-page__container .jawBoneContainer .jawBone {
  padding: 18px 0 12px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  width: 70%;
  z-index: 10;
}

.jawBoneContainer h1,
.jawBoneContainer h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.nf-flat-button .nf-flat-button-icon-play,
.nf-flat-button .nf-flat-button-icon-episodes,
.nf-flat-button .nf-flat-button-icon-mylist-add,
.nf-flat-button .nf-flat-button-icon-mylist-added,
.nf-flat-button .nf-flat-button-icon-remindme-add,
.nf-flat-button .nf-flat-button-icon-remindme-added,
.nf-flat-button .nf-flat-button-icon-restart,
.nf-flat-button .nf-flat-button-icon-info,
.nf-flat-button .nf-flat-button-icon-close {
  font-family: "nf-icon";
}

.nf-flat-button .nf-flat-button-icon-mylist-add:before {
  content: "\e641";
}

.nf-flat-button .nf-flat-button-icon-mylist-added:before {
  content: "\e804";
}

.jawBonePane .synopsis {
  margin: 0.8em 0 0.8em 0;
  width: 35vw;
  color: #999;
}

.details-page__container {
  .jawBoneContainer {
    background-color: #000;
    position: relative;
    overflow: hidden;
    outline: none;
    height: 35vw;
    transition: height 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
      opacity 0.44s cubic-bezier(0.5, 0, 0.1, 1) 0.1s;
  }

  .maturityDescription {
    font-size: 14px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 499px) {
  .jawBoneContainer .title {
    font-size: 14px;
    width: 55vw;
  }
}
@media screen and (min-width: 500px) and (max-width: 799px) {
  .jawBoneContainer .title {
    font-size: 14px;
    width: 55vw;
  }
}
@media screen and (min-width: 800px) and (max-width: 1099px) {
  .jawBoneContainer .title {
    font-size: 3vw;
    width: 55vw;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1399px) {
  .jawBoneContainer .title {
    font-size: 3vw;
    width: 50vw;
  }
  .details-page__container .detailsItem {
    width: 20%;
  }
  .details-page__container .cast-wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .jawBoneContainer .title {
    font-size: 2.4vw;
    width: 40vw;
  }
  .details-page__container .detailsItem {
    width: 16.66666667%;
  }
  .details-page__container .cast-wrapper {
    width: calc(500% / 6);
  }
}

@media screen and (max-width: 950px) {
  .header {
    height: 40px;
  }
}
