.header {
  height: 70px;
  background-color: #141414;
  width: 100%;
}

.jawBoneContainer .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transition: opacity 0.3s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.jawBoneContainer .jawBoneBackground {
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 70%;
}

.image-rotator {
  position: relative;
  overflow: hidden;
}

.jawBoneContainer .jawBoneBackground .image-rotator-image {
  transform: translateZ(0);
  background-position: center 10%;
}

.image-rotator .image-rotator-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  opacity: 0;
}

.jawBoneContainer .jawBone {
  padding: 18px 0 12px 4%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.jawBoneContainer h1,
.jawBoneContainer h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.jawBoneContainer .title {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 0 0 0.2em 0;
  font-weight: bold;
  color: #fff;
  font-size: 3vw;
  width: 670px;
}

.jawBoneContainer .title.original {
  height: 7vw;
}

.jawBoneContainer .title .logo {
  height: 7vw;
  transform-origin: 0 0;
  transition: transform 300ms, -webkit-transform 300ms, -moz-transform 300ms,
    -o-transform 300ms;
}

.jawBoneContainer .jawBonePanes {
  position: relative;
  opacity: 1;
  z-index: 2;
  transition: transform 300ms, -webkit-transform 300ms, -moz-transform 300ms,
    -o-transform 300ms;
}

.jawBoneContainer .jawBonePanes .jawBonePane {
  position: absolute;
  top: 0;
  width: 100%;
  color: #808080;
  opacity: 1;
}

.nf-flat-button .nf-flat-button-icon-play,
.nf-flat-button .nf-flat-button-icon-episodes,
.nf-flat-button .nf-flat-button-icon-mylist-add,
.nf-flat-button .nf-flat-button-icon-mylist-added,
.nf-flat-button .nf-flat-button-icon-remindme-add,
.nf-flat-button .nf-flat-button-icon-remindme-added,
.nf-flat-button .nf-flat-button-icon-restart,
.nf-flat-button .nf-flat-button-icon-info,
.nf-flat-button .nf-flat-button-icon-close {
  font-family: "nf-icon";
}

.nf-flat-button .nf-flat-button-icon-mylist-add:before {
  content: "\e641";
}

.nf-flat-button .nf-flat-button-icon-mylist-added:before {
  content: "\e804";
}

.jawBonePane .synopsis {
  margin: 0.8em 0 0.8em 0;
  width: 35vw;
  color: #999;
}

.detail__container {
  height: 24vw;
  position: relative;
  margin: 0;
  padding: 1vw 4%;
  background-color: rgba($color: #141414, $alpha: 0.2);
}

.details-page__container {
  .jawBoneContainer {
    background-color: #000;
    position: relative;
    overflow: hidden;
    outline: none;
    height: 27vw;
    transition: height 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
      opacity 0.44s cubic-bezier(0.5, 0, 0.1, 1) 0.1s;
  }

  .detailsItem {
    box-sizing: border-box;
    padding: 0 20px 0 0;
    height: auto;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 50%;
  }

  .listLabel {
    font-size: 15px;
    margin: 0 0 5px;
    display: block;
    color: #808080;
    font-weight: bold;
  }

  ul {
    padding-left: 0;
    margin: 0 0 14px 0;
  }

  ul li {
    list-style: none;

    a {
      font-size: 14px;
      color: #fff;
      text-decoration: none;
    }
  }

  .cast-wrapper {
    height: 100%;
  }

  .cast-container {
    width: 100%;
    height: 100%;

    &:hover .carousel-indicators {
      opacity: 1;
    }
  }

  .maturityDescription {
    font-size: 14px;
    margin-bottom: 0;
  }

  .episodes-container {
    margin-top: 20px;
  }

  .single-season-label {
    font-size: 1.4vw;
    color: #e5e5e5;
    font-weight: bold;
    margin: 0 4% 0.5em 4%;
    text-decoration: none;
    display: inline-block;
    min-width: 6em;
  }

  .episodes-container:hover {
    .carousel-indicators {
      opacity: 1;
    }
    .indicator-icon {
      display: block;
    }
  }
}

@media screen and (max-width: 499px) {
  .jawBoneContainer .title {
    font-size: 14px;
    width: 55vw;
  }
}
@media screen and (min-width: 500px) and (max-width: 799px) {
  .jawBoneContainer .title {
    font-size: 14px;
    width: 55vw;
  }
}
@media screen and (min-width: 800px) and (max-width: 1099px) {
  .jawBoneContainer .title {
    font-size: 3vw;
    width: 55vw;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1399px) {
  .jawBoneContainer .title {
    font-size: 3vw;
    width: 50vw;
  }
  .details-page__container .detailsItem {
    width: 20%;
  }
  .details-page__container .cast-wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .jawBoneContainer .title {
    font-size: 2.4vw;
    width: 40vw;
  }
  .details-page__container .detailsItem {
    width: 16.66666667%;
  }
  .details-page__container .cast-wrapper {
    width: calc(500% / 6);
  }
}

@media screen and (max-width: 950px) {
  .header {
    height: 40px;
  }
}
